<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>lookup-ICD</string>
	<key>category</key>
	<string>myWorkflows</string>
	<key>connections</key>
	<dict>
		<key>633AC663-37B1-4355-85E5-8832CB5B40BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EBED84D9-7AA9-4386-9D42-B79401C78534</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>886B6E04-9355-48CC-95E9-2E52348404B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8C1896F5-873E-4CEE-AF45-D2B7CB12663E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D8FEDD40-69F1-43FB-BF24-C05AFD6C5F6B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EBED84D9-7AA9-4386-9D42-B79401C78534</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>886B6E04-9355-48CC-95E9-2E52348404B4</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Show in large type and copy to clipboard</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8CA66776-CC00-42F8-BD44-0199947FA547</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>giovanni</string>
	<key>description</key>
	<string>browsing and searching the ICD-10 database</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>alfred-ICDbrowser</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:myTextOutput}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>8C1896F5-873E-4CEE-AF45-D2B7CB12663E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{var:myTextOutput}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>D8FEDD40-69F1-43FB-BF24-C05AFD6C5F6B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:mainKeyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>export PYTHONPATH="$PWD/lib"
python3 icd-query.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>browse, query, visualize hierarchy, copy to clipboard</string>
				<key>title</key>
				<string>Browse the ICD-10 database</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>icd-query</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EBED84D9-7AA9-4386-9D42-B79401C78534</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>22</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>6</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>633AC663-37B1-4355-85E5-8832CB5B40BC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>886B6E04-9355-48CC-95E9-2E52348404B4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>icd-query</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>8CA66776-CC00-42F8-BD44-0199947FA547</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># alfred-ICDbrowser
A browser for ICD-10 codes

![](alfred-ICDbrowser.png)

# Basic Usage 📖

## Browsing 📇
- launch with keyword (default: `icd-b`) or custom hotkey. 
- a search term (optional, multiple strings supported) will filter the entries at the current level. 
- Browse across categories: 
	- `Enter`: forward
	- `Cmd-Enter`: back
- `Shift-enter` will show the corresponding entry in large font and copy it to the clipboard
- `Ctrl-enter` will show the corresponding entry within the ICD hierarchy (current item will be marked with ✴️)
	

## Searching 🔍
- adding `--a` to the search string (multiple strings supported) will search across the entire ICD-10 database.
- `Ctrl-enter` will show the corresponding entry within the ICD hierarchy (current item will be marked with ✴️)
- `Shift-enter` will show the corresponding entry in large font and copy it to the clipboard

## Showing entry within the ICD hierarchy 🌲
- `Ctrl-enter` will show the corresponding entry within the ICD hierarchy (current item will be marked with ✴️)
- `Shift-enter` will show the hierarchy in large font and copy it to the clipboard</string>
	<key>uidata</key>
	<dict>
		<key>633AC663-37B1-4355-85E5-8832CB5B40BC</key>
		<dict>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>886B6E04-9355-48CC-95E9-2E52348404B4</key>
		<dict>
			<key>xpos</key>
			<real>960</real>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>8C1896F5-873E-4CEE-AF45-D2B7CB12663E</key>
		<dict>
			<key>xpos</key>
			<real>1090</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>8CA66776-CC00-42F8-BD44-0199947FA547</key>
		<dict>
			<key>xpos</key>
			<real>1090</real>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>D8FEDD40-69F1-43FB-BF24-C05AFD6C5F6B</key>
		<dict>
			<key>xpos</key>
			<real>1090</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>EBED84D9-7AA9-4386-9D42-B79401C78534</key>
		<dict>
			<key>xpos</key>
			<real>745</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>icd-b</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>keyword to launch the workflow</string>
			<key>label</key>
			<string>Main Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>mainKeyword</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1</string>
	<key>webaddress</key>
	<string>https://github.com/giovannicoppola/alfred-ICDbrowser</string>
</dict>
</plist>
